body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#F1C93B, #fffbe1);
    font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Vollkorn', serif;
}

  /* navbar starts here !! */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    border-bottom: 1px solid white;
}

/* .brand  {
    padding: 0.75rem 1rem;
    color: #13220d;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
} */

.brand a img {
    max-width: 150px;
    max-height: 80px;
}

.navlinks ul,
.authlinks ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

.navlinks ul li a,
.authlinks ul li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.navlinks ul li a {
    color: #13220d;
}

.navlinks li a:hover {
    transform: translate(0, -5px);
    border-bottom: 1px solid black;
    transition: all .3s ease-out;
    } 

.authlinks ul {
    gap: 1.5rem;
}

.authlinks ul li a {
    color: #13220d;
}

.authlinks li:nth-of-type(1) a {
	border: 1px solid black;
	color: #1A5D1A;
	border-radius: 20px;
}
  
.authlinks li:nth-of-type(2) a {
	background-color: #1A5D1A;
	color: white;
	border-radius: 20px;
}

.authlinks li a:hover {
    transform: translate(0, -5px);
    transition-property: transform;
    transition-duration: 0.5s;
    }

.loginicon, 
.signupicon {
	height: 1rem;
    width: 1rem;
    color: #1A5D1A;
}

.signupicon {
	color: white;
}

#toggglebutton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#toggglebutton svg {
    height: 1.5rem;
    width: 1.5rem;
    color: black;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

#toggglebutton .openIcon {
    display: block;
}

#toggglebutton .closeIcon {
    display: none;
}

#toggglebutton.open .openIcon {
    display: none;
}

#toggglebutton.open .closeIcon {
    display: block;
}



@media (max-width: 1203px) {
    .brand {
        font-size: 1.1rem;
    }

    .navlinks ul li a,
    .authlinks ul li a {
        font-size: 0.9rem;
    }

    .loginicon, 
    .signupicon {
	height: 0.8rem;
    width: 0.8rem;
}
}

@media (max-width: 1018px) {
    .navlinks,
	.authlinks {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 10px;
    }

    #toggglebutton {
        display: block;
    }

    .navlinks.open,
    .authlinks.open {
        display: block;
    }

    .navlinks ul,
	.authlinks ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks ul li a {
        /* text-decoration: none;
        font-size: 1.2em;
        font-weight: bold; */
        padding: 0px;
        width: 100%;
    }

    .authlinks ul li a  {
        padding: 10px 5px   ;
        border-radius: 10px;
    }

    .navlinks ul {
    gap: 0.5rem;
    }

    .authlinks ul {
        gap: 1.5rem;
        margin-top: 0px;
    }

}

 /* navbar ends here !!!! */

 /* section 1 starts here  */

 .section1 {
    align-items: center;
    text-align: center;
    color: #13220d;
}

.section1-text h1 {
    font-size: 3em;
    font-weight: bold;
}

.section1-text p {
    font-size: 1.1em;
    font-weight: 400;
    padding: 0% 25%;
    color: #87A153;
}

@media (max-width: 950px) {
    .section1-text h1 {
        font-size: 2.5em;
        font-weight: bold;
    }
    
    .section1-text p {
        font-weight: 400;
        padding: 0% 22%;
    }
}

@media (max-width: 750px) {
    .section1-text h1 {
        font-size: 2em;
        font-weight: bold;
    }
    
    .section1-text p {
        font-weight: 400;
        font-size: 1em;
        padding: 0% 20%;
    }
}

@media (max-width: 500px) {
    .section1-text h1 {
        font-size: 2em;
        font-weight: 400;
    }
    
    .section1-text p {
        font-weight: 400;
        font-size: 0.8em;
        padding: 0% 10%;
    }
}

  /* section 1 ends here !!!  */

  /* section 2 starts here !!!  */

.section2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 50px 20px 0px;
}

.section2-img img {
    max-width: 600px;
    max-height: 650px;
}

.section2-text {
    border-top: 1px solid #13220d;
    padding-right: 20px;
}

.contactform1-text span {
    font-weight: 600;
    color: #114411;
    text-transform: uppercase;
}

.contactform1,
.contactform2,
.contactform3,
.contactform4 {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 15px 0px 15px;
}

.contactform1 h2,
.contactform2 h2,
.contactform3 h2,
.contactform4 h2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}

.contactform1 p,
.contactform2 p,
.contactform3 p,
.contactform4 p {
    margin: 0;
    color: #1A5D1A;
    font-size: 1em;
    padding-top: 10px;
}

.contactform1 a,
.contactform2 a,
.contactform3 a,
.contactform4 a {
    margin: 0;
    color: #114411;
    font-size: 1em;
    font-weight: 600;
    padding-top: 10px;
    text-decoration: none;
}

.contact-icon {
    width: 50px;
    height: 50px;
    padding: 10px;  
}

@media (max-width: 1200px) {
    .section2-img img {
        max-width: 500px;
        max-height: 550px;
    }
}

@media (max-width: 1050px) {
    .contactform1 h2,
    .contactform2 h2,
    .contactform3 h2,
    .contactform4 h2 {
        font-size: 1.2em;
    }
    
    .contactform1 p,
    .contactform2 p,
    .contactform3 p,
    .contactform4 p {
        margin: 0;
        color: #1A5D1A;
        font-size: 1em;
        padding-top: 10px;
    }
}

@media (max-width: 950px) {
    .section2 {
        flex-direction: column;
    }

    .section2-text {
        order: 1;
      }
  
    .section2-img {
        order: 2;
      }

      .contact-icon {
        width: 40px;
        height: 40px;
        padding: 8px;  
    }
}

@media (max-width: 800px) {
    .contactform1 h2,
    .contactform2 h2,
    .contactform3 h2,
    .contactform4 h2 {
        font-size: 1.1em;
    }
    
    .contactform1 p,
    .contactform2 p,
    .contactform3 p,
    .contactform4 p {
        font-size: 0.8em;
    }
}

@media (max-width: 600px) {
    .section2-text {
        padding-right: 0px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
        padding: 7px;  
    }
}

@media (max-width: 550px) {
    .section2-img img {
        max-width: 400px;
        max-height: 450px;
    }

    .contactform1 h2,
    .contactform2 h2,
    .contactform3 h2,
    .contactform4 h2 {
        font-size: 1em;
    }
}

@media (max-width: 450px) {
    .section2-img img {
        max-width: 300px;
        max-height: 350px;
    }
}

  /* section 2 ends here !!!  */

  /* section 3 starts here !!!  */

  .section3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 30px;
}

.section3-text h2 {
    font-size: 2em;
    font-weight: bold;
    color: #13220d;
}

.section3-text p {
    font-size: 1em;
    font-weight: 500;
    color: #1A5D1A;
    padding: 0% 20%;
}

.form {
    margin-right: 100px;
}

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
}

.formtext,
.formemail,
.textarea {
    margin-top: 15px;
    padding: 20px;
    margin-right: auto;
    margin-left: 2%;
    border-radius: 30px;
    box-shadow: 1px 2px 7px rgb(160, 160, 160);
    border: none;
    width: 100%;
}

.country_code,
.formnumber {
    margin-top: 15px;
    padding: 20px;
    margin-right: auto;
    margin-left: 2%;
    border-radius: 30px;
    box-shadow: 1px 2px 7px rgb(160, 160, 160);
    border: none;
    width: 45%;
}

.phone-num {
    display: flex;
}

  .formbutton {
    margin-top: 20px;
    padding: 20px 40px;
    margin-right: auto;
    margin-left: 2%;
    border-radius: 30px;
    box-shadow: 1px 2px 7px rgb(160, 160, 160);
    border: none;
    background-color: #8c8e8c;
    cursor: pointer;
  }

@media (max-width:950px){
    .section3 {
        flex-direction: column;
        margin: 10px;
    }

    .formtext,
    .formemail,
    .textarea {
        width: 100%;
    }

    .country_code,
    .formnumber {
        width: 45%;
    }

    .form {
        margin-right: 50px;
    } 
}

@media (max-width:800px){
    .formtext,
    .formemail,
    .textarea {
        width: 80%;
    }

    .country_code,
    .formnumber {
        width: 35%;
    }

    .form {
        margin-right: 30px;
    }

    .section3-text h2 {
        font-size: 1.5em;
    }
    
    .section3-text p {
        font-size: 1em;
    }
}

@media (max-width:500px){
    .form {
        margin-right: 0px;
    }

    .section3-text h2 {
        font-size: 1.2em;
    }
    
    .section3-text p {
        font-size: 0.8em;
    }
}

  /* section  ends here !!  */

  /* section 9 starts here !!  */

  .section9 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
    color: #13220d;
}

.section9-text {
    padding: 0px 60px;
}

.section9-img img {
    max-width: 500px;
    max-height: 550px;
}

.section9-text h2 {
    font-weight: bold;
    font-size: 1.2em;
}

.section9-text h3 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    color: #87A053;
}

.section9-text p {
    font-weight: 400;
    font-size: 1em;
}

@media (max-width: 1000px) {
    .section9-text h2 {
        font-size: 1.1em;
    }

    .section9-text h3 {
        font-size: 2em;
    }

    .section9-img img {
        max-width: 400px;
        max-height: 450px;
    }
}

@media (max-width: 950px) {
    .section9 {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .section9-text {
        padding: 0px 40px;
    }

    .section9-text h2 {
        font-size: 1em;
    }

    .section9-text h3 {
        font-size: 1.8em;
    }

    .section9-text p {
        font-weight: 400;
        font-size: 0.8em;
    }

    .section9-img img {
        max-width: 350px;
        max-height: 400px;
    }
}

@media (max-width: 450px) {
    .section9-img img {
        max-width: 300px;
        max-height: 450px;
    }
}

  /* section 9 ends here !!  */

  /* footer starts here !!  */

  .section10 {
    align-items: center;
    text-align: center;
    background-color: #13220d ;
    color: white;
    padding: 40px 30px 20px;
    margin: 0px 100px 50px 100px;
    border-radius: 60px 60px 0px 0px;
}

.section10-inner a {
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
    color: #FFF;
}

.section10-inner p {
    padding: 0px 200px;
}

.footer-menu {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.section10-support a,
.section10-links a  {
    text-decoration: none;
	font-size: 1em;
	font-weight: bold;
    color: #FFF;
}

.section10-support h2,
.section10-links h2  {
	font-size: 1em;
}

.section10-links ul {
    list-style-type: none;
}

.section10 span {
    font-size: 0.8em;
}

@media (max-width: 1000px) {
    .section10-inner p {
        padding: 0px 150px;
    }
}

@media (max-width: 850px) {
    .section10 {
        padding: 40px 30px 0px;
        margin: 0px 70px 50px 70px;
    }

    .section10-inner p {
        padding: 0px 100px;
    }
}

@media (max-width: 767px) {
    .section10 {
        margin: 0px 70px 70px 70px;
    }
}


@media (max-width: 750px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 60px 80px 60px;
    }

    .section10-inner a {
        font-size: 1.5em;
    }

    .section10-inner p {
        padding: 0px 70px;
        font-size: 0.9em;
    }

    .section10-inner a {
        font-size: 1.3em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        color: #FFF;
    }
}

@media (max-width: 650px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 30px 80px 30px;
    }
}

@media (max-width: 600px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 15px 80px 15px;
    }
}


@media (max-width: 550px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 0px 80px;
    }

    .section10-inner p {
        padding: 0px 30px;
        font-size: 0.8em;
    }

    .section10-inner a {
        font-size: 1.2em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        color: #FFF;
    }
}

@media (max-width: 400px) {
    .section10-inner p {
        padding: 0px 10px;
        font-size: 0.7em;
    }

    .section10-inner a {
        font-size: 1em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.7em;
        font-weight: bold;
        color: #FFF;
    }
}



html {
    scroll-behavior: smooth;
  }
  
  
  .backtotop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  .backtotop img {
    height: 40px;
    width: 40px;
  }
  
  .backtotop.show {
    display: block;
  }




  .tradingview-widget-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}