body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#F1C93B, #fffbe1);
    font-family: 'Montserrat', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Playfair Display', serif;
	font-family: 'Vollkorn', serif;
}

  /* navbar starts here !! */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
    border-bottom: 1px solid white;
}

/* .brand  {
    padding: 0.75rem 1rem;
    color: #13220d;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
} */

.brand a img {
    max-width: 150px;
    max-height: 80px;
}

.navlinks ul,
.authlinks ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0px;
}

.navlinks ul li a,
.authlinks ul li a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.75rem 1rem;
}

.navlinks ul li a {
    color: #13220d;
}

.navlinks li a:hover {
    transform: translate(0, -5px);
    border-bottom: 1px solid black;
    transition: all .3s ease-out;
    } 

.authlinks ul {
    gap: 1.5rem;
}

.authlinks ul li a {
    color: #13220d;
}

.authlinks li:nth-of-type(1) a {
	border: 1px solid black;
	color: #1A5D1A;
	border-radius: 20px;
}
  
.authlinks li:nth-of-type(2) a {
	background-color: #1A5D1A;
	color: white;
	border-radius: 20px;
}

.authlinks li a:hover {
    transform: translate(0, -5px);
    transition-property: transform;
    transition-duration: 0.5s;
    }

.loginicon, 
.signupicon {
	height: 1rem;
    width: 1rem;
    color: #1A5D1A;
}

.signupicon {
	color: white;
}

#toggglebutton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

#toggglebutton svg {
    height: 1.5rem;
    width: 1.5rem;
    color: black;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
}

#toggglebutton .openIcon {
    display: block;
}

#toggglebutton .closeIcon {
    display: none;
}

#toggglebutton.open .openIcon {
    display: none;
}

#toggglebutton.open .closeIcon {
    display: block;
}



@media (max-width: 1203px) {
    .brand {
        font-size: 1.1rem;
    }

    .navlinks ul li a,
    .authlinks ul li a {
        font-size: 0.9rem;
    }

    .loginicon, 
    .signupicon {
	height: 0.8rem;
    width: 0.8rem;
}
}

@media (max-width: 1018px) {
    .navlinks,
	.authlinks {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 10px;
    }

    #toggglebutton {
        display: block;
    }

    .navlinks.open,
    .authlinks.open {
        display: block;
    }

    .navlinks ul,
	.authlinks ul {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .navlinks ul li a {
        /* text-decoration: none;
        font-size: 1.2em;
        font-weight: bold; */
        padding: 0px;
        width: 100%;
    }

    .authlinks ul li a  {
        padding: 10px 5px   ;
        border-radius: 10px;
    }

    .navlinks ul {
    gap: 0.5rem;
    }

    .authlinks ul {
        gap: 1.5rem;
        margin-top: 0px;
    }

}

 /* navbar ends here !!!! */
 /* section 1 starts here  */

 .section1 {
    align-items: center;
    text-align: center;
    color: #13220d;
}

.section1-text h1 {
    font-size: 3em;
    font-weight: bold;
}

.section1-text p {
    font-size: 1.1em;
    font-weight: 400;
    padding: 0% 25%;
    color: #87A153;
}

@media (max-width: 950px) {
    .section1-text h1 {
        font-size: 2.5em;
        font-weight: bold;
    }
    
    .section1-text p {
        font-weight: 400;
        padding: 0% 22%;
    }
}

@media (max-width: 750px) {
    .section1-text h1 {
        font-size: 2em;
        font-weight: bold;
    }
    
    .section1-text p {
        font-weight: 400;
        font-size: 1em;
        padding: 0% 20%;
    }
}

@media (max-width: 500px) {
    .section1-text h1 {
        font-size: 2em;
        font-weight: 400;
    }
    
    .section1-text p {
        font-weight: 400;
        font-size: 0.8em;
        padding: 0% 10%;
    }
}

  /* section 1 ends here !!!  */

  /* section 2 starts here !!!  */

.section2 {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    margin: 50px 0px;
}

.faq1-text1,
.faq1-text2,
.faq1-text3,
.faq1-text4,
.faq1-text5,
.faq2-text6,
.faq2-text7,
.faq2-text8,
.faq2-text9,
.faq2-text10 {
    margin: 15px 0px;
    padding: 15px;
    background-color: #DED383;
    border-radius: 30px;
    max-width: 40em ;
    cursor: pointer;
}

.faq1-text1 summary,
.faq1-text2 summary,
.faq1-text3 summary,
.faq1-text4 summary,
.faq1-text5 summary,
.faq2-text6 summary,
.faq2-text7 summary,
.faq2-text8 summary,
.faq2-text9 summary,
.faq2-text10 summary {
    font-weight: bold;
    color: #13220d;
}

.faq1-text1:hover,
.faq1-text2:hover,
.faq1-text3:hover,
.faq1-text4:hover,
.faq1-text5:hover,
.faq2-text6:hover,
.faq2-text7:hover,
.faq2-text8:hover,
.faq2-text9:hover,
.faq2-text10:hover {
    background-color: #e0d266;
}

@media (max-width: 800px) {
    .faq1-text1,
    .faq1-text2,
    .faq1-text3,
    .faq1-text4,
    .faq1-text5,
    .faq2-text6,
    .faq2-text7,
    .faq2-text8,
    .faq2-text9,
    .faq2-text10 {
        max-width: 30em ;
    }

    .faq1-text1 summary,
    .faq1-text2 summary,
    .faq1-text3 summary,
    .faq1-text4 summary,
    .faq1-text5 summary,
    .faq2-text6 summary,
    .faq2-text7 summary,
    .faq2-text8 summary,
    .faq2-text9 summary,
    .faq2-text10 summary {
        font-weight: bold;
        font-size: 0.8em;
        color: #13220d;
    }
}

@media (max-width: 600px) {
    .faq1-text1 summary,
    .faq1-text2 summary,
    .faq1-text3 summary,
    .faq1-text4 summary,
    .faq1-text5 summary,
    .faq2-text6 summary,
    .faq2-text7 summary,
    .faq2-text8 summary,
    .faq2-text9 summary,
    .faq2-text10 summary {
        font-weight: bold;
        font-size: 0.6em;
        color: #13220d;
    }

    .faq1-text1,
    .faq1-text2,
    .faq1-text3,
    .faq1-text4,
    .faq1-text5,
    .faq2-text6,
    .faq2-text7,
    .faq2-text8,
    .faq2-text9,
    .faq2-text10 {
        max-width: 25em ;
    }
}

  /* section 2 ends here !!!  */

  /* section 3 starts here !!!  */

.section3 {
    align-items: center;
    text-align: center;
}

.section3-text h2 {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 950px) {
    .section3-text h2 {
        font-size: 1.7em;
    }
}

@media (max-width: 750px) {
    .section3-text h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .section3-text h2 {
        font-size: 1.2em;
        font-weight: 400;
    }
}

  /* section 3 ends here !!!  */

  /* section 4 starts here !!!  */

  .section4 {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    margin: 50px 0px;
}

.faq1,
.faq2,
.faq3,
.faq4,
.faq5,
.faq6,
.faq7,
.faq8,
.faq9,
.faq10 {
    margin: 15px 0px;
    padding: 15px;
    background-color: #DED383;
    border-radius: 30px;
    max-width: 40em ;
    cursor: pointer;
}

.faq1 summary,
.faq2 summary,
.faq3 summary,
.faq4 summary,
.faq5 summary,
.faq6 summary,
.faq7 summary,
.faq8 summary,
.faq9 summary,
.faq10 summary {
    font-weight: bold;
    color: #13220d;
}

.faq1:hover,
.faq2:hover,
.faq3:hover,
.faq4:hover,
.faq5:hover,
.faq6:hover,
.faq7:hover,
.faq8:hover,
.faq9:hover,
.faq10:hover {
    background-color: #e0d266;
}

@media (max-width: 800px) {
    .faq1,
    .faq2,
    .faq3,
    .faq4,
    .faq5,
    .faq6,
    .faq7,
    .faq8,
    .faq9,
    .faq10 {
        max-width: 30em ;
    }

    .faq1 summary,
    .faq2 summary,
    .faq3 summary,
    .faq4 summary,
    .faq5 summary,
    .faq6 summary,
    .faq7 summary,
    .faq8 summary,
    .faq9 summary,
    .faq10 summary {
        font-weight: bold;
        font-size: 0.8em;
        color: #13220d;
    }
}

@media (max-width: 600px) {
    .faq1 summary,
    .faq2 summary,
    .faq3 summary,
    .faq4 summary,
    .faq5 summary,
    .faq6 summary,
    .faq7 summary,
    .faq8 summary,
    .faq9 summary,
    .faq10 summary {
        font-weight: bold;
        font-size: 0.6em;
        color: #13220d;
    }

    .faq1,
    .faq2,
    .faq3,
    .faq4,
    .faq5,
    .faq6,
    .faq7,
    .faq8,
    .faq9,
    .faq10 {
        max-width: 25em ;
    }
}

  /* section 3 ends here !!!  */

/* section 6 starts here !!  */

.section6 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(252, 255, 230);
    color: #13220d;
}

.section6-img img {
    max-width: 600px;
    max-height: 650px;
}

.section6-text {
    padding: 20px 40px;
}

.section6-text h2 {
    font-weight: bold;
    font-size: 1em;
    margin: 0;
    color: #87A153;
}

.section6-text h3 {
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 0;
}

.section6-text p {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 50px;
}

.section6-text a {
    padding: 10px 80px;
	background-color: #1A5D1A;
	color: white;
	border-radius: 50px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.section6-text a:hover {
    border: 1px solid black;
	color: #1A5D1A;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s ;
}

@media (max-width: 1200px) {
    .section6-text h3 {
        font-size: 2em;
    }

    .section6-img img {
        max-width: 500px;
        max-height: 550px;
    }
}

@media (max-width: 965px) {
    .section6-text h3 {
        font-weight: 500;
        font-size: 1.8em;
    }
}

@media (max-width: 950px) {
    .section6 {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .section6-text h3 {
        font-size: 1.5em;
    }

    .section6-img img {
        max-width: 400px;
        max-height: 550px;
    }

    .section6-text a {
        padding: 10px 60px;
        font-size: 14px;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .section6-text h3 {
        font-size: 1.2em;
    }

    .section6-img img {
        max-width: 300px;
        max-height: 450px;
    }

    .section6-text a {
        padding: 10px 50px;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width: 350px) {
    .section6-text a {
        padding: 10px 30px;
        font-size: 10px;
        font-weight: bold;
    }
}

  /* section 6 ends here !!  */

    /* section 9 starts here !!  */

.section9 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 30px;
    color: #13220d;
}

.section9-text {
    padding: 0px 60px;
}

.section9-img img {
    max-width: 500px;
    max-height: 550px;
}

.section9-text h2 {
    font-weight: bold;
    font-size: 1.2em;
}

.section9-text h3 {
    font-weight: bold;
    font-size: 2.5em;
    margin: 0;
    color: #87A053;
}

.section9-text p {
    font-weight: 400;
    font-size: 1em;
}

@media (max-width: 1000px) {
    .section9-text h2 {
        font-size: 1.1em;
    }

    .section9-text h3 {
        font-size: 2em;
    }

    .section9-img img {
        max-width: 400px;
        max-height: 450px;
    }
}

@media (max-width: 950px) {
    .section9 {
        flex-direction: column;
    }
}

@media (max-width: 850px) {
    .section9-text {
        padding: 0px 40px;
    }

    .section9-text h2 {
        font-size: 1em;
    }

    .section9-text h3 {
        font-size: 1.8em;
    }

    .section9-text p {
        font-weight: 400;
        font-size: 0.8em;
    }

    .section9-img img {
        max-width: 350px;
        max-height: 400px;
    }
}

@media (max-width: 450px) {
    .section9-img img {
        max-width: 300px;
        max-height: 450px;
    }
}

  /* section 9 ends here !!  */

  /* footer starts here !!  */

  .section10 {
    align-items: center;
    text-align: center;
    background-color: #13220d ;
    color: white;
    padding: 40px 30px 20px;
    margin: 0px 100px 50px 100px;
    border-radius: 60px 60px 0px 0px;
}

.section10-inner a {
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
    color: #FFF;
}

.section10-inner p {
    padding: 0px 200px;
}

.footer-menu {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}

.section10-support a,
.section10-links a  {
    text-decoration: none;
	font-size: 1em;
	font-weight: bold;
    color: #FFF;
}

.section10-support h2,
.section10-links h2  {
	font-size: 1em;
}

.section10-links ul {
    list-style-type: none;
}

.section10 span {
    font-size: 0.8em;
}

@media (max-width: 1000px) {
    .section10-inner p {
        padding: 0px 150px;
    }
}

@media (max-width: 850px) {
    .section10 {
        padding: 40px 30px 0px;
        margin: 0px 70px 50px 70px;
    }

    .section10-inner p {
        padding: 0px 100px;
    }
}

@media (max-width: 767px) {
    .section10 {
        margin: 0px 70px 70px 70px;
    }
}


@media (max-width: 750px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 60px 80px 60px;
    }

    .section10-inner a {
        font-size: 1.5em;
    }

    .section10-inner p {
        padding: 0px 70px;
        font-size: 0.9em;
    }

    .section10-inner a {
        font-size: 1.3em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        color: #FFF;
    }
}

@media (max-width: 650px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 30px 80px 30px;
    }
}

@media (max-width: 600px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 15px 80px 15px;
    }
}


@media (max-width: 550px) {
    .section10 {
        padding: 40px 25px 0px;
        margin: 0px 0px 80px;
    }

    .section10-inner p {
        padding: 0px 30px;
        font-size: 0.8em;
    }

    .section10-inner a {
        font-size: 1.2em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        color: #FFF;
    }
}

@media (max-width: 400px) {
    .section10-inner p {
        padding: 0px 10px;
        font-size: 0.7em;
    }

    .section10-inner a {
        font-size: 1em;
        font-weight: 500;
    }

    .section10-support a,
    .section10-links a  {
        text-decoration: none;
        font-size: 0.7em;
        font-weight: bold;
        color: #FFF;
    }
}


html {
    scroll-behavior: smooth;
  }
  
  
  .backtotop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }
  
  .backtotop img {
    height: 40px;
    width: 40px;
  }
  
  .backtotop.show {
    display: block;
  }






  .tradingview-widget-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 9999;
}